:root {
  --primary-color: #fefae0;
  --secondary-color: #d4a373;
  --tertiary-color: #6e745c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color); 
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--primary-color);
}

/* header styles start */
header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 9999;    
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* header styles end */

/* footer styles start */
footer {
  color: var(--primary-color);
  background: var(--tertiary-color);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

/* footer styles end */

/* STYLE ALL SECTION TAGS */
section {
  padding: 60px;
}

/* hero styles start */

section {
  margin: 2%3%;
}

.parent {
  box-sizing: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-self: center;
  background-color: var(--secondary-color);
  /* border: blue solid 5px; */
}

.child1 {
  padding: 10px;
  /* border: red solid 5px; */
}

.child1 img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 6px 6px 5px darkgrey;
}

.child2 {
  flex-shrink: 1;
  padding: 10px;
  margin-top: 60px;
  font-size: 200%;
  color: var(--primary-color);
  text-shadow: 2px 2px grey;
  /* border: red solid 5px; */
}

.child2-text h2 {
  line-height: 2;
}

.child2-text p {
  line-height: 1.5;
} 

/* hero styles end */

/* about styles start */
.about {
    /* border: red solid 3px; */
    font-size: 125%;
}

.about h2 {
  font-size: 200%;
  text-align: center;
}

.about-text {
  line-height: 1.7;
  padding-bottom: 15px;
}

.about p {
  margin-top: 3%;
}
/* about styles end */



/* projects styles start */
.projects {
  border: red solid 3px;
  font-size: 125%;
}

.projects h2 {
font-size: 200%;
text-align: center;
}

.projects-text {
  line-height: 1.7;
  padding-bottom: 15px;
}

.projects p {
  margin-top: 3%;
}
/* projects styles end */

/* contact styles start */
.contact {
  text-align: left;
  font-size: 125%;
  border: red solid 3px;
}

.contact h2 {
font-size: 200%;
margin-bottom: 20px;
}


/* contact styles end */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
} */

/* .flex-row {
  display: flex;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: sticky;
      top: 0;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
       font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
  
    .trainer { 
      flex: 0 70%;
    }
  
    .contact-info iframe {
      flex: 1 100%;
    }
  }

/* 768 BREAKPOINT */

@media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  }

@media screen and (max-width: 575px) {
  
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }
